source_up
source_env_if_exists .envrc.local
source_env_if_exists .params.env

# PATH
export PATH=.scripts/:$PATH

# Sops
export SOPS_AGE_KEY_FILE="$PWD/.${ENV}.age"
export SOPS_CONFIG="$PWD/.sops.yaml"

# Kluctl
export KLUCTL_NO_UPDATE_CHECK=true
export KLUCTL_GIT_CACHE_UPDATE_INTERVAL=1h
export KLUCTL_RENDER_OUTPUT_DIR=./.build

# REPO OVERRIDE
# local-git-group-override
export KLUCTL_LOCAL_GIT_GROUP_OVERRIDE_0=github.com:aquarist-labs=$PWD/.repos
export KLUCTL_LOCAL_GIT_GROUP_OVERRIDE_1=github.com:epcim=$PWD/.repos

# DEPRECATED
# Kustomize
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:-~/.config}
# apple
test -e brew && export PATH="$(brew --prefix coreutils)/libexec/gnubin:/usr/local/bin:$PATH"


#export RED="$(printf \033[0;31m)"                                                             
#export GREEN="$(printf \033[0;32m)"
#export OFF="$(printf \033[0m)"
